.content-list2-container {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
 
.content-list2-thq-max-width-elm {
  width: 100%;
  display: flex;
  max-width: var(--dl-layout-size-maxwidth);
  align-items: center;
  flex-direction: column;
}
 
.content-list2-thq-content-elm1 {
  align-self: stretch;
  align-items: flex-start;
}
 
.content-list2-li1 {
  align-items: flex-start;
}
 
.content-list2-thq-heading1-elm {
  align-self: flex-start;
}
 
.content-list2-thq-content1-elm {
  align-self: flex-start;
  margin-bottom: var(--dl-layout-space-halfunit);
}
 
.content-list2-ul2 {
  align-items: flex-start;
  padding-left: var(--dl-layout-space-fiveunits);
}
 
.content-list2-thq-content-elm2 {
  align-self: stretch;
  align-items: flex-start;
}
 
.content-list2-li7 {
  align-items: flex-start;
}
 
.content-list2-thq-heading7-elm {
  align-self: flex-start;
}
 
.content-list2-thq-content7-elm {
  margin-bottom: var(--dl-layout-space-halfunit);
}
 
.content-list2-ul4 {
  align-items: flex-start;
  padding-left: var(--dl-layout-space-fiveunits);
}
 
.content-list2-fragment10 {
  display: contents;
}
 
.content-list2-text10 {
  display: inline-block;
}
 
.content-list2-fragment11 {
  display: contents;
}
 
.content-list2-text11 {
  display: inline-block;
}
 
.content-list2-fragment12 {
  display: contents;
}
 
.content-list2-text12 {
  display: inline-block;
}
 
.content-list2-fragment13 {
  display: contents;
}
 
.content-list2-text13 {
  display: inline-block;
}
 
.content-list2-fragment14 {
  display: contents;
}
 
.content-list2-text14 {
  display: inline-block;
}
 
.content-list2-fragment15 {
  display: contents;
}
 
.content-list2-text15 {
  display: inline-block;
}
 
.content-list2-fragment16 {
  display: contents;
}
 
.content-list2-text16 {
  display: inline-block;
}
 
.content-list2-fragment17 {
  display: contents;
}
 
.content-list2-text17 {
  display: inline-block;
}
 
.content-list2-fragment18 {
  display: contents;
}
 
.content-list2-text18 {
  display: inline-block;
}
 
.content-list2-fragment19 {
  display: contents;
}
 
.content-list2-text19 {
  display: inline-block;
}
 
.content-list2-fragment20 {
  display: contents;
}
 
.content-list2-text20 {
  display: inline-block;
}
 
.content-list2-fragment21 {
  display: contents;
}
 
.content-list2-text21 {
  display: inline-block;
}
 
.content-list2-fragment22 {
  display: contents;
}
 
.content-list2-text22 {
  display: inline-block;
}
 
.content-list2-fragment23 {
  display: contents;
}
 
.content-list2-text23 {
  display: inline-block;
}
 
.content-list2-fragment24 {
  display: contents;
}
 
.content-list2-text24 {
  display: inline-block;
}
 
.content-list2-fragment25 {
  display: contents;
}
 
.content-list2-text25 {
  display: inline-block;
}
 
.content-list2-fragment26 {
  display: contents;
}
 
.content-list2-text26 {
  display: inline-block;
}
 
@media(max-width: 767px) {
  .content-list2-ul2 {
    padding-left: var(--dl-layout-space-threeunits);
  }
  .content-list2-ul4 {
    padding-left: var(--dl-layout-space-threeunits);
  }
}
 
@media(max-width: 479px) {
  .content-list2-ul2 {
    padding-left: var(--dl-layout-space-oneandhalfunits);
  }
  .content-list2-ul4 {
    padding-left: var(--dl-layout-space-oneandhalfunits);
  }
}
