.content-list22-container {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
 
.content-list22-thq-max-width-elm {
  width: 100%;
  display: flex;
  max-width: var(--dl-layout-size-maxwidth);
  align-items: center;
  flex-direction: column;
}
 
.content-list22-thq-content-elm1 {
  align-self: stretch;
  align-items: flex-start;
}
 
.content-list22-thq-heading1-elm {
  align-self: flex-start;
  padding-bottom: 0px;
}
 
.content-list22-li1 {
  align-items: flex-start;
}
 
.content-list22-thq-content1-elm1 {
  align-self: flex-start;
  margin-bottom: var(--dl-layout-space-halfunit);
}
 
.content-list22-thq-content1-elm2 {
  align-self: flex-start;
  margin-bottom: var(--dl-layout-space-halfunit);
}
 
.content-list22-thq-content-elm2 {
  align-self: stretch;
  align-items: flex-start;
}
 
.content-list22-li2 {
  align-items: flex-start;
}
 
.content-list22-thq-content7-elm1 {
  margin-bottom: var(--dl-layout-space-halfunit);
}
 
.content-list22-thq-heading7-elm {
  font-size: 25px;
  align-self: flex-start;
  padding-top: var(--dl-layout-space-unit);
}
 
.content-list22-thq-content7-elm2 {
  margin-bottom: var(--dl-layout-space-halfunit);
}
 
.content-list22-fragment1 {
  display: contents;
}
 
.content-list22-text1 {
  display: inline-block;
}
 
.content-list22-fragment2 {
  display: contents;
}
 
.content-list22-text2 {
  display: inline-block;
}
 
.content-list22-fragment3 {
  display: contents;
}
 
.content-list22-text3 {
  display: inline-block;
}
 
.content-list22-fragment4 {
  display: contents;
}
 
.content-list22-text4 {
  display: inline-block;
}
 
.content-list22-fragment5 {
  display: contents;
}
 
.content-list22-text5 {
  display: inline-block;
  font-size: 25px;
}
 
.content-list22-fragment6 {
  display: contents;
}
 
.content-list22-text6 {
  display: inline-block;
}
