.pricing4-thq-pricing10-elm {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.pricing4-thq-max-width-elm {
  gap: var(--dl-layout-space-threeunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.pricing4-thq-section-title-elm {
  gap: var(--dl-layout-space-unit);
  width: 100%;
  display: flex;
  max-width: 800px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.pricing4-thq-content-elm1 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.pricing4-thq-text-elm10 {
  text-align: center;
}
 
.pricing4-thq-text-elm11 {
  text-align: center;
}
 
.pricing4-thq-text-elm12 {
  text-align: center;
}
 
.pricing4-thq-content-elm2 {
  gap: var(--dl-layout-space-twounits);
  width: 100%;
  display: flex;
  align-items: stretch;
  flex-shrink: 0;
}
 
.pricing4-thq-column-elm1 {
  flex: 1;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-theme-neutral-dark);
  border-style: solid;
  border-width: 1px;
  border-radius: var(--dl-layout-radius-radius4);
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-theme-accent1);
}
 
.pricing4-thq-content-elm3 {
  gap: 32px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.pricing4-thq-price-elm1 {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.pricing4-thq-text-elm13 {
  font-size: 48px;
  text-align: center;
}
 
.pricing4-thq-text-elm14 {
  text-align: center;
}
 
.pricing4-thq-list-elm1 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.pricing4-thq-list-item-elm10 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.pricing4-thq-list-item-elm11 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.pricing4-thq-list-item-elm12 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.pricing4-thq-list-item-elm13 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.pricing4-thq-list-item-elm14 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.pricing4-thq-button-elm1 {
  width: 100%;
}
 
.pricing4-thq-column-elm2 {
  flex: 1;
  width: auto;
  display: flex;
  flex-grow: 1;
  align-items: center;
  flex-shrink: 0;
  border-color: var(--dl-color-theme-neutral-dark);
  border-style: solid;
  border-width: 1px;
  border-radius: var(--dl-layout-radius-radius4);
  flex-direction: column;
  background-color: var(--dl-color-theme-accent1);
}
 
.pricing4-thq-price-elm2 {
  gap: 32px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.pricing4-thq-price-elm3 {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.pricing4-thq-text-elm21 {
  font-size: 48px;
  text-align: center;
}
 
.pricing4-thq-text-elm22 {
  text-align: center;
}
 
.pricing4-thq-list-elm2 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.pricing4-thq-list-item-elm15 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  padding-top: 0px;
  padding-bottom: 0px;
}
 
.pricing4-thq-list-item-elm16 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.pricing4-thq-list-item-elm17 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.pricing4-thq-list-item-elm18 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.pricing4-thq-list-item-elm19 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.pricing4-thq-button-elm2 {
  width: 100%;
}
 
.pricing4-fragment10 {
  display: contents;
}
 
.pricing4-text10 {
  display: inline-block;
}
 
.pricing4-fragment11 {
  display: contents;
}
 
.pricing4-text11 {
  display: inline-block;
}
 
.pricing4-fragment12 {
  display: contents;
}
 
.pricing4-text12 {
  display: inline-block;
}
 
.pricing4-fragment13 {
  display: contents;
}
 
.pricing4-text13 {
  display: inline-block;
}
 
.pricing4-fragment14 {
  display: contents;
}
 
.pricing4-text14 {
  display: inline-block;
}
 
.pricing4-fragment15 {
  display: contents;
}
 
.pricing4-text15 {
  display: inline-block;
}
 
.pricing4-fragment16 {
  display: contents;
}
 
.pricing4-text16 {
  display: inline-block;
}
 
.pricing4-fragment17 {
  display: contents;
}
 
.pricing4-text17 {
  display: inline-block;
}
 
.pricing4-fragment18 {
  display: contents;
}
 
.pricing4-text18 {
  display: inline-block;
}
 
.pricing4-fragment19 {
  display: contents;
}
 
.pricing4-text19 {
  display: inline-block;
}
 
.pricing4-fragment20 {
  display: contents;
}
 
.pricing4-text20 {
  display: inline-block;
}
 
.pricing4-fragment21 {
  display: contents;
}
 
.pricing4-text21 {
  display: inline-block;
}
 
.pricing4-fragment22 {
  display: contents;
}
 
.pricing4-text22 {
  display: inline-block;
}
 
.pricing4-fragment23 {
  display: contents;
}
 
.pricing4-text23 {
  display: inline-block;
}
 
.pricing4-fragment24 {
  display: contents;
}
 
.pricing4-text24 {
  display: inline-block;
}
 
.pricing4-fragment25 {
  display: contents;
}
 
.pricing4-text25 {
  display: inline-block;
}
 
.pricing4-fragment26 {
  display: contents;
}
 
.pricing4-text26 {
  display: inline-block;
}
 
.pricing4-fragment27 {
  display: contents;
}
 
.pricing4-text27 {
  display: inline-block;
}
 
.pricing4-fragment28 {
  display: contents;
}
 
.pricing4-text28 {
  display: inline-block;
}
 
.pricing4root-class-name {
  background-image: linear-gradient(90deg, rgb(241, 242, 181) 0.00%,rgba(19, 80, 88, 0.43) 100.00%);
}
 
@media(max-width: 767px) {
  .pricing4-thq-content-elm2 {
    flex-direction: column;
  }
  .pricing4-thq-column-elm2 {
    width: 100%;
  }
}
 
@media(max-width: 479px) {
  .pricing4-thq-max-width-elm {
    gap: var(--dl-layout-space-oneandhalfunits);
  }
  .pricing4-thq-button-elm1 {
    width: 100%;
  }
  .pricing4-thq-button-elm2 {
    width: 100%;
  }
}
