.hero8-thq-header26-elm {
  width: 100%;
  background-color: var(--dl-color-theme-secondary2);
}

.hero8-thq-max-width-elm {
  gap: var(--dl-layout-space-twounits);
}

.hero8-thq-column-elm {
  width: 100%;
}

.hero8-thq-content-elm {
  gap: var(--dl-layout-space-twounits);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.hero8-thq-text-elm1 {
  color: var(--dl-color-theme-primary1);
}

.hero8-thq-text-elm2 {
  max-width: 600px;
  color: var(--dl-color-theme-neutral-dark);
}

.hero8-thq-actions-elm {
  display: flex;
  gap: var(--dl-layout-space-unit);
  flex-wrap: wrap;
}

.hero8-thq-button-elm1,
.hero8-thq-button-elm2 {
  min-width: 120px;
}
